/*Map iframe*/
.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}

/* same col height*/
.col-container {
    display: table;
    width: 100%;
  }
   
  .col {
    display: block;
    padding: 16px;
    float: none;
}

@media (min-width: 601px) {
  .col {
    display: table-cell;
    width: 50%;
    
  }
}
 
 